<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- 「One UI X について」で GitHub のアバター画像を読み込むためだけに使う -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <package android:name="com.android.settings" />
        <package android:name="com.android.systemui" />
        <package android:name="com.samsung.android.app.notes" />
        <package android:name="com.samsung.android.app.sketchbook" />
        <package android:name="com.samsung.android.app.watchmanager" />
        <package android:name="com.samsung.android.calendar" />
        <package android:name="com.samsung.android.da.daagent" />
        <package android:name="com.samsung.android.dialer" />
        <package android:name="com.samsung.android.messaging" />
        <package android:name="com.samsung.android.service.airviewdictionary" />
        <package android:name="com.samsung.android.shealthmonitor" />
        <package android:name="com.samsung.android.themecenter" />
        <package android:name="com.samsung.android.video" />
        <package android:name="com.sec.android.app.camera" />
        <package android:name="com.sec.android.app.launcher" />
        <package android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.sec.android.app.sbrowser" />
        <package android:name="com.sec.android.daemonapp" />
        <package android:name="com.sec.android.gallery3d" />
        <package android:name="com.sec.android.mimage.photoretouching" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneUIX">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OneUIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 是否为Xposed模块 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <!-- 模块的简介（在框架中显示） -->
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <!-- 模块最低支持的Api版本 一般填93即可 -->
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <!-- 模块作用域 -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
        <service
            android:name=".FiveGTileService"
            android:exported="true"
            android:icon="@drawable/five_g"
            android:label="5G"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <activity
            android:name=".RebootActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="android.permission.STATUS_BAR_SERVICE"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
